---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Aside from '../components/Aside.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Gallery from '../components/Gallery.astro';

const posts = (await getCollection('journal'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 10);

const artPosts = (await getCollection('art'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 4);
---

<style>
.landing-contact {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	li {
		a {
			border: none;

			&:after {
				display: none;
			}
		}
	}
}

.percept-container {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.percept-rc {
	width: 20%;

	h6 {
		/* font-size: calc(6rem + 0.5vw); */
		word-break: break-all;

		span {
			display: inline-block;
		}
	}
}

.percept-rc__entry-container {
	.gallery {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}

.percept-rc__entry {
	width: 100%;
	margin-bottom: 40rem;

	img {
		width: 100%;
		height: auto;
	}

	.bsln-card__body {
		padding-bottom: 0;
	}
}

.percept-journal {
	width: 80%;
}

.entry-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.entry, .percept-rc__entry {
  --card-box-shadow: none;
  border-radius: 6px;
  box-sizing: border-box;
  border-bottom: none;
  background: none;
  border: 1px solid light-dark(var(--set-color-base-150),var(--set-color-base-900));
  border-radius: 0;
  position: relative;
  overflow: visible;

  .bsln-card__header,
  .bsln-card__body {
	background: none;
  }

  .bsln-card__body {
	padding-top: 16rem;
  }

  .meta {
	display: block;
	position: absolute;
	top: -12rem;
	background: var(--set-color-base);
	border: 1px solid light-dark(var(--set-color-base-150),var(--set-color-base-900));
	padding: 4rem 6rem;
	height: 22rem;

		time {
			display: block;
			line-height: 13rem;
			font-family: var(--set-font-mono);
		}
	}

  h5 {
	color: var(--set-color-purple);
  }

  &:hover {
	color: var(--set-color-purple);
  }
}

.excerpt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: balance;
}

h5 {
	--set-font-size-h5: calc(14rem + 0.25vw);
	text-wrap: pretty;
}

.entry:first-child {
  grid-column: 1 / -1; /* Span all columns */
}

.header h3 {
	text-wrap: pretty;
}

@media (max-width: 900px) {
  .entry-container {
    gap: 40px;
  }

  .entry:first-child {
    grid-column: 1 / -1; /* Ensure it spans all columns on smaller screens as well */
  }

  /* .percept-rc__entry .bsln-card__body .meta time {
	font-size: 0.6em;
  } */
}

@media (max-width: 600px) {
	.percept-rc__entry-container {
		.gallery {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

  .entry-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .percept-rc {
	width: 100%;

	h6 {
		font-size: var(--set-font-size-h6);
	}
  }

  .percept-journal {
	width: 100%;
  }

  .percept-container {
	flex-direction: column;
	gap: 20px;
  }

  .percept-rc__entry {
	max-width: 180px;
  }

  .entry:first-child {
    grid-column: 1 / -1; /* Ensure it spans all columns on very small screens as well */
  }
}
</style>

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<div class="App">
			<div class="Layout">

				<div class="Masthead">
					<Header />
				</div>

				<main class="Main">
					<Nav />

					<!-- Hi! just a small update. -->
					<section>
						<div class="container">
							<div class="row">
								<div class="col-12">

									<header>
										<div class="p-y-10 m-b-2" style="background: url(/assets/product/images/percept/landing-full-20.jpg) 50% no-repeat; background-size: cover; border-radius: 6rem;">
											
											<!-- <img src="/assets/product/images/percept/landing-full-20.jpg" alt="Percept" style="height: auto; width: 100%; border-radius: 6rem;"> -->
										</div>

										<div class="percept-info">
											<div class="row">

												<div class="col-xs-12 col-md-6">
													<div class="bsln-card bsln-card--hr m-b-1">
												
														<div class="bsln-card__body">
														<p class="no-margin"><i class="fa-sharp fa-light fa-clipboard-question"></i> What's all this about? <a href="/colophon">Read More</a></p>
														</div>
												
													</div>
												</div>

												<div class="col-xs-12 col-md-6">
													<div class="bsln-card bsln-card--hr m-b-1">
												
														<div class="bsln-card__body">
														<p class="no-margin"><i class="fa-sharp fa-light fa-head-side-gear"></i> I want to learn! <a href="/learn">Read More</a></p>
														</div>
												
													</div>
												</div>

											</div>
										</div>
									</header> 
							
								</div>
							</div>
					
						</div>
					</section> 

					<div class="percept-container">

						<div class="percept-rc">
							<h6 class="m-t-1 m-b-2">Art</h6>

							<div class="percept-rc__entry-container">

								<Gallery>
									{artPosts.map((post) => (
									<a
										class="percept-rc__entry bsln-card"
										href={post.data.asset}             
										data-post-url={post.data.related} 
									>
										<div class="bsln-card__body">
											<p class="meta">
												<time class="font-size--xs">
													<i class="fa-sharp fa-light fa-calendar"></i>

													{new Date(post.data.pubDate).toLocaleDateString('en-us', {
														year: 'numeric',
														month: 'numeric',
														day: 'numeric',
													})}
												</time>	
											</p>
										<img
										src={post.data.thumb}       
										alt={post.data.title || post.slug}
										/>
										</div>
									</a>
									))}
								</Gallery>

								<a class="percept-rc__entry bsln-card" href="/art" title="Art Entries" style="min-height: 150rem; display: flex; align-items: center;justify-content: center;">
									<div class="bsln-card__body text-align--center" style="padding: 0;">
										<span><i class="fa-sharp fa-light fa-arrows-to-eye fa-2xl"></i></span>
									</div>
								</a>

							</div>

						</div>

						<div class="percept-journal">
							
							<h6 class="m-t-1 m-b-2">Journal Entries</h6>

							<div class="entry-container">
				
								{
									posts.map((post) => (
										
										<a href={`/journal/${post.slug}`} class="entry bsln-card">

											<div class="bsln-card__body">
												<p class="meta">
													<time class="font-size--xs">
														<i class="fa-sharp fa-light fa-calendar"></i>

														{new Date(post.data.pubDate).toLocaleDateString('en-us', {
															year: 'numeric',
															month: 'numeric',
															day: 'numeric',
														})}
													</time>	
												</p>
												<h5>{post.data.title}</h5>
												<p class="excerpt">{post.data.description}</p>
											</div>
											
										</a>
									))
								}

								<a class="entry bsln-card" href="/journal" title="Art Entries" style="min-height: 150rem; display: flex; align-items: center;justify-content: center;">
									<div class="bsln-card__body text-align--center" style="padding: 0;">
										<span><i class="fa-sharp fa-light fa-arrows-to-eye fa-2xl"></i></span>
									</div>
								</a>
								
							</div>

						</div>

					</div>

				</main>
				
				<div class="Aside">
					
					<Aside />

				</div>

			</div>

		<Footer />

		</div>
	</body>
</html>